{% extends 'modale.html.twig' %} 
{% block body %}

<script>
	var win = window.dialogArguments || opener || parent || top;
	win.send_to_editor('<p><img src="{{urlImage}}" alt="{{ name }}"></p><br/>');
	parent.document.getElementById('modal').classList.add("modalNone");
</script>


{% endblock %}