{% extends "base.html.twig" %}
{% block title %}
    page non trouvé
{% endblock %}

{% block body %}
<div class="row">
    <section class="container col-14  col-m-14 col-l-14 col-xl-14 col-l-push-1 col-m-push-1 col-push-1 col-xl-push-1">
        <main>
            <div class=" principal col-14 col-m-14 col-l-10 col-xl-9 ">
                <div class="errorPage col-center  ">
                  <h1 class="HTTPerror col-center">page non trouvée</h1>
                  <p>Quel dommage mais la page n'existe pas</p>
                    <div class="col-center">
                        <span class="bigText">4</span>
                        <span class="bigImage"><img src="/dist/image/logo.png" alt=""></span>
                        <span class="bigText">4</span>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}
